.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}

.main {
  display: flex;
  gap: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30vw;
}

.newsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
